
<div class="row">
  <div class="col-md-10">
    <fieldset class="page-option-border">
      <%= form_tag(courses_path, method: "get") do %>
      <div class="pull-left" style="font-size: 16px; width: 250px;">
        <%#= form_tag(courses_path(params[:search]), method: :get) do %>
          <div class="input-group">
            <%= text_field_tag 'course_name', params[:course_name], class: 'form-control', placeholder: 'Search by name...' %>

            <%- if params[:search].present? %>
              <span class="text-muted" style="font-size: 16px;">
                <%= link_to courses_path(""), class: 'btn-search-clear' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </span>
            <% end %>

            <span class="input-group-btn">
              <%= link_to courses_path, class: 'btn btn-default', id: 'btn-search' do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <%# end %>
      </div>


        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <center class="control-label" style="align: right;">from </center>
            </div>
            <div class='col-md-4'>
              <div class="row">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker_start'>
                      <input type='text' class="form-control" id="start_time" name="start_time" value="<%= @start_time.to_json %>"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <center class="control-label">to</center>
            </div>
            <div class='col-md-4'>
              <div class="row">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker_end'>
                        <input type='text' class="form-control" id="end_time" name="end_time" value="<%= @end_time.to_json %>"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary col-md-1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      <% end %>
      <%#= link_to "Go", reports_path(start_time: "asdsad"), class: "btn btn-primary" %>
    </fieldset>
  </div>
</div>
