<!DOCTYPE html>
<html>
  <head>
    <title>CourseManagementSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    controller_path, media: "all" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_path %>
  </head>

  <body>
    <div id="wrap" >
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <%= link_to "Course Management System", root_path, id: 'navbar-brand', class: 'navbar-brand' %>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left" style="padding-left: 20px">
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to('Courses', courses_path, :method => :get) %>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>

            <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">

                      <li>
                        <%= link_to('Profile', profile_path, :method => :get) %>
                      </li>
                      <li>
                        <% if current_user.instructor %>
                          <%= link_to('My courses', my_courses_courses_path, :method => :get) %>
                        <% end %>
                      </li>

                    <%= render 'devise/menu/login_items' %>
                  </ul>
                </li>
              </ul>
            <% end %>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- end navbar -->

      <!-- body -->
      <div class="container-fluid">
        <%= render partial: "shared/breadcrumbs" if user_signed_in? %>
        <div class="row">
          <div id="system-flashes">
            <%= render partial: "shared/flashes" %>
          </div>
        </div>
        <%= yield %>
      </div>
      <!-- end body -->
    </div>

    <!-- footer -->
    <footer>
      <div id="footer"  style="padding-top: 20px;">
        <div class="container-fluid">
          <div class="credit">
            &copy;Course Management System
            <div class="pull-right bottom-nav-right">
              Powered by SPRiiiNG.
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
